<ion-view title="About me">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>About me</h1>
        <div class="spacer" style="width: 283px; height: 21px;"></div>
        <h4>Objective</h4>
        <div>
            <blockquote>
                <p>To become extremely proficient in as many languages, platforms and frameworks as possible and work internationally. I will do anything to achieve these goals.</p>
                <p>I have the capability of learning any language or framework.</p>
            </blockquote>
        </div>
        <h4>Summary</h4>
        <div>
            <blockquote>
                <p>FULL NAME: Steven Daniell Jackson <br>DATE OF BIRTH: 02/11/1988 <br>NATIONALITY: South African <br>HEALTH: Excellent HOME <br>LANGUAGE: English <br>EMPLOYMENT EQUITY: White Male <br>PERSONALITY TYPE: INTJ</p>
            </blockquote>
        </div>
    </ion-content>
</ion-view>