<ion-view title="CMS's">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>CMS's</h1>
        <div class="list card">
            <div class="item item-divider">Wordpress</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/htdFNWaFRfmC7Ygvjybf_wordpress.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Moderate Practical Experience</ion-item>
                    <ion-item>8 Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">CS Cart</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/R3cmpeTQpuQ3vEuOJgMc_cscart.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Minimal Practical Experience</ion-item>
                    <ion-item>6 Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Expression Engine</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/jknjb9VTQBmKH5S863Nn_ee.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Limited Practical Experience</ion-item>
                    <ion-item>1 Month</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Magento</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/4XGJ09yNRLa4lYsUPx1A_magento.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Limited Practical Experience</ion-item>
                    <ion-item>1 Month</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Joomla</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/GWUb14TRe5kThc1FYKPQ_joomla.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Limited Practical Experience</ion-item>
                    <ion-item>1 Month</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Concrete CMS</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/jns2J6CyTIuvqzrtw2hj_concrete.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Limited Practical Experience</ion-item>
                    <ion-item>1 Month</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>