<ion-view title="Contact Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Contact Details</h1>
        <div>
            <blockquote>
                <p>10 Oranje Street, <br>Bothasig,<br> Cape Town <br>7441</p>
                <p>Email: <a href="mailto:stevenjackson.sanguine@gmail.com" class="red-link">Stevenjackson.sanguine@gmail.com</a></p>
                <p>Contact number: <a href="tel:+27769975180" class="red-link">+2776 997 5180</a></p>
                
            </blockquote>
        </div>
        <a class="button icon-left ion-ios7-telephone button-calm button-outline" ng-href="tel:+2776 997 5180">Call me</a>
    </ion-content>
</ion-view>