<ion-view title="Contact Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Contact Details</h1>
        <div>
            <blockquote>
                <p>Contact Details 10 Oranje Street, Bothasig Cape Town 7441</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Email: Stevenjackson.sanguine@gmail.com</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Contact number: 0769975180</p>
            </blockquote>
        </div>
    </ion-content>
</ion-view>