<ion-view title="Development">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Junior Developer</h1>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <ion-list></ion-list>
        <div>
            <blockquote>
                <p>Build and testing / QA of email newsletters and websites (e-commerce focused)</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Accountable for building and sending mailers, QA and sign off from designer and project owner before distribution</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Create, build and manage assets for the websites and affiliate sites including homepage, category banners, competition pages</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Build and testing / QA of email newsletters and websites (e-commerce focused)</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Keep up to date with email best practice and work with Content Manager to implement changes</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Maintain consistent look and feel across the websites</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Understand and contribute to usability best practice in site navigation and emails</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Build assets and apps for social networking sites as required</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Ensuring the look and feel of the site follows the brand guidelines</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Development / Coding of landing pages and Websites (CS Cart and Wordpress)</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Draft business requirements and technical specs that are robust and meet the needs of client and developers</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Responsible for specifications and outsource developer liaison (focus on CS-Cart and other)</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Responsible for delivery of web development and e-commerce development projects within scope, budget and time</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Manage all Project related documentation</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Interrogate all requirements and ensure the best solution is provided to clients</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Establish strong relationships with outsource partners</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Run multiple medium to large projects concurrently and independently</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Reports to the Management, providing regular input on all account activity, including status and reports on a weekly basis.</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Research new technologies in the realm of web development</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Ensure project post-mortems take place and that each project is better than the last (implement quality improvements)</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Time tracking (billable and non-billable)</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Continued increased performance of clients against objectives</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Upsell clients and web services</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Ensure profit targets are reached per dev project (ensure that the project is delivered in scope, time, budget and quality standards</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Assist with IT handover and training new IT staff member</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Adhoc development responsibilities as and when required</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Training departments in a the basics of Web Development process and functions</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Clearly defining the problem via illustrations and simplied explanantions</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Very Detailed technical instructions written for other companies developer.</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Documented Tutorials for clients and the use of their CMS</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Fixing department specific problems (SEO, PPC, Social Media)</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Training clients in the use of their CMS via illustrations</p>
            </blockquote>
        </div>
    </ion-content>
</ion-view>