<ion-view title="Downloadable Resources">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Downloads</h1>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div>
            <p>Most requested documents</p>
        </div>
        <div>
            <blockquote>
                <p>Resume - Docx</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Resume - PDF</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Diploma - PDF</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Disploma Results - PDF</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Skills Matrix - Docx</p>
            </blockquote>
        </div>
        <ion-list></ion-list>
    </ion-content>
</ion-view>