<ion-view title="Downloadable Resources">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Downloads</h1>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div>
            <p>Most requested documents</p>
        </div>
        <a href="img/resume.png">
        <div>
            <blockquote>
                <p>Resume - PNG</p>
            </blockquote>
        </div>
        </a>
       <a href="img/diploma.png">
        <div>
            <blockquote>
                <p>Diploma - PNG</p>
            </blockquote>
        </div>
        </a>
         <a href="img/diploma-results.png">
        <div>
            <blockquote>
                <p>Diploma Results - PNG</p>
            </blockquote>
        </div>
        </a>

         <div>
            <blockquote>
                <p>Skills Matrix - PNG</p>
            </blockquote>
        </div>
       
        <ion-list></ion-list>
    </ion-content>
</ion-view>