<ion-view title="Employment History">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>Employment History</h2>
        <div class="spacer" style="width: 283px; height: 21px;"></div>
        <div>
            <p>Note click the job position to find out more</p>
        </div>
        <div>
            <blockquote>
                <p>ROI Digital</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Junior Developer, ROI Digital Cape Town Duration: July 2012 till July 2015 Responsibilities: Senior Developer and I.T Manager</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Junior IT Technician, ROI Digital Cape Town Duration: July 2012 till July 2015</p>
            </blockquote>
        </div>
        <div>
            <hr>
        </div>
    </ion-content>
</ion-view>