<ion-view title="Employment History">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>Employment History</h2>
        <div class="spacer" style="width: 283px; height: 21px;"></div>
        <div>
            <p>Note click the job position to find out more</p>
        </div>
        <div>
            <blockquote>
                <p>ROI Digital</p>
            </blockquote>
        </div>
        <a ui-sref="development" >
        <div>
            <blockquote>
                <p>Junior Web Developer, <br>ROI Digital <br>Cape Town <br>Duration: April 2015 till June 2015 <br><br>Responsibilities: <br>Senior Developer and I.T Manager</p>
            </blockquote>
        </div>
        </a>


        <a ui-sref="juniorITTechnician" >
        <div>
            <blockquote>
                <p>Junior IT Technician/Junior Web Developer, <br>ROI Digital <br>Cape Town <br>Duration: July 2012 till August 2014</p>
            </blockquote>
        </div>
        </a>
        <div>

        </div>
    </ion-content>
</ion-view>