<ion-view title="Experience">
<ion-content overflow-scroll="true" padding="true" class="has-header">
<h1>Experience</h1>
<div class="spacer" style="width: 283px; height: 25px;"></div>
<div>
    <p>Click the section to get more information.</p>
</div>
<div>
    <p>Note: This is just what I have worked with. I have good knowledge on a range of other languages and frameworks.</p>
</div>
<div class="spacer" style="width: 283px; height: 19px;"></div>

<a ui-sref="languages" >
    <div>
        <blockquote>
            <p>Languages</p>
        </blockquote>
    </div>
</a> 
<a ui-sref="cMSS" >
    <div>
        <blockquote>
            <p>CMS's</p>
        </blockquote>
    </div>
</a> 

<a ui-sref="frameworks" >
    <div>
        <blockquote>
            <p>Frameworks</p>
        </blockquote>
    </div>
</a> 

<a ui-sref="tools" >
    <div>
        <blockquote>
            <p>Tools</p>
        </blockquote>
    </div>
</a> 
</ion-content>
</ion-view>