<ion-view title="Frameworks">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Frameworks</h1>
        <div class="list card">
            <div class="item item-divider">jQuery</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/Flg36OZ4QA2F0UCn0pwm_jquery.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Moderate Practical Experience</ion-item>
                    <ion-item>Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Bootstrap</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/EO2bmfBSzW7Yg3sirOAA_bootstrap.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Moderate Practical Experience</ion-item>
                    <ion-item>Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Foundation</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/wLXTNhBMT9Oem4vufGfm_angular.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Limited Practical Experience</ion-item>
                    <ion-item>Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Ionic</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/FKWi04ilQKir3L0lK3D4_ionic-logo-300-300x248.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Limited Practical Experience</ion-item>
                    <ion-item>Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Concrete CMS</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/jns2J6CyTIuvqzrtw2hj_concrete.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Limited Practical Experience</ion-item>
                    <ion-item>Months</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>