<ion-view title="Junior IT Technician">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>Junior IT Technician</h2>
        <div class="spacer" style="width: 283px; height: 16px;"></div>
        <ion-list></ion-list>
        <div>
            <blockquote>
                <p>Repairing and Replacing PC's</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Setting up Pc’s for new Users as well as company logins</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Testing sites</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>General I.T. Issues</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Setting up User Accounts</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Fully updated Audit sheet</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Updated Uniform Hosting Sheet</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Setting up sites on Development environment</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Testing hardware</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Contacting suppliers for replacement stock and repairs</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Backing up and Restoring Site on a new Ftp</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Updating, inserting content and editing sites using CSS, LESS, Html, PHP, Smarty HTML</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Control over Firewall and NAS drive (Vault)</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Monthly Backups of Websites and Vault</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Removal of ex-employees</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Hosting and Hosting related issues</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Internal issues</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Reviewing CV's of potential canditates for IT and Development departments.</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Interviews with potential canditates for IT and Development departments.</p>
            </blockquote>
        </div>
        <div>
            <blockquote>
                <p>Managerial Meetings in regards to both IT and Development departments</p>
            </blockquote>
        </div>
    </ion-content>
</ion-view>