<ion-view title="Languages">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Languages</h1>
        <div class="list card">
            <div class="item item-divider">HTML</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/qBB3dtK8RaisuOJCrmWp_html.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Moderate Practical Experience</ion-item>
                    <ion-item>12 Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">CSS</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/HwFRUsuiSYKRkeUt9RET_css.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Moderate Practical Experience</ion-item>
                    <ion-item>12 Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Javascript</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/odWJZkTPKvq3Xld0St8w_javascript.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Moderate Practical Experience</ion-item>
                    <ion-item>6 Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">PHP</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/HtcrOGBaQnGAO5GJ0bWy_php.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Moderate Practical Experience</ion-item>
                    <ion-item>8 Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">MySql</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/JTglPel1Ri6muMFNucXT_mysql.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Minimal Practical Experience</ion-item>
                    <ion-item>1 Month</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>