<ion-view title="More About Me">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>More About me</h1>
        <div class="spacer" style="width: 283px; height: 17px;"></div>
        <h4>Hobbies</h4>
        <div>
            <blockquote>
                <p>Anime Coding Gaming Researching
                </p>
            </blockquote>
        </div>
        <h4>Traits</h4>
        <div>
            <blockquote>
                <p>Attention to detail Numerical Accurate Structured Quick Learner/Study Smart Worker Self-Disciplined Document Orientated Logical Adaptive Open minded</p>
            </blockquote>
        </div>
        <h4>Education</h4>
        <div>
            <blockquote>
                <p>Tertiary Education:</p>
                <p>Varsity College Diploma — 2008 Diploma in Information Technology (Software Development)</p>
                <p>Matric: Northlink College Certificate — 2005/2006 Certificate supplied on request</p>
            </blockquote>
        </div>
    </ion-content>
</ion-view>