<ion-view title="More About Me">
<ion-content overflow-scroll="true" padding="true" class="has-header">
<h1>More About me</h1>
<div class="spacer" style="width: 283px; height: 17px;"></div>
<h4>Hobbies</h4>
<div>
    <blockquote>
        <p>Anime <br>Coding <br>Gaming <br>Researching
        </p>
    </blockquote>
</div>
<h4>Traits</h4>
<div>
    <blockquote>
        <p>Attention to detail <br>Numerical <br>Structured <br>Quick Learner/Study <br>Smart Worker <br>Self-Disciplined <br>Document Orientated <br>Logical <br>Adaptive <br>Open minded</p>
    </blockquote>
</div>
<h4>Education</h4>
<div>
    <blockquote>
        <p>Varsity College <br>Diploma — 2008 <br>Diploma in Information Technology (Software Development)<br><br>
            <a href="img/diploma.png"  class="red-link">Diploma</a>
            <br><a href="img/diploma-results.png"  class="red-link">Diploma Results</a>
        </p><br>
        <p>Matric: <br>Northlink College <br>Certificate — 2006 <br><br> <a href="img/matric.png" class="red-link">Matric Certificate</a></p>
    </blockquote>
</div>
</ion-content>
</ion-view>