<ion-view title="Profile Links">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Profile links</h1>
        <div class="spacer" style="width: 283px; height: 25px;"></div>
        <div>
            <p>Note: Clicking these links will redirect you!</p>
        </div>
        <div class="spacer" style="width: 283px; height: 21px;"></div>
        <h4>Profiles Links</h4>
        <div class="spacer" style="width: 283px; height: 23px;"></div>
        <ion-list>
            <ion-item href="#" onclick="window.open('https://za.linkedin.com/pub/steven-jackson/b3/978/199', '_system', 'location=yes'); return false;">Linkedin</ion-item>
        </ion-list>
        <ion-list>
            <ion-item href="#" onclick="window.open('https://github.com/steven-daniell-jackson/', '_system', 'location=yes'); return false;">Github</ion-item>
        </ion-list>
        <ion-list>
            <ion-item href="#" onclick="window.open('http://steven-daniell-jackson.github.io/', '_system', 'location=yes'); return false;">Desktop Online Resume</ion-item>
        </ion-list>
        <ion-list>
            <ion-item href="#" onclick="window.open('https://docs.google.com/spreadsheets/d/1s7Or_0nZ1YYS3KibGAVgGdPnjmqB6iYWQPnXvEVpUmw/edit?usp=sharing', '_system', 'location=yes'); return false;">Documented Portfolio</ion-item>
        </ion-list>
        <ion-list>
            <ion-item href="#" onclick="window.open('http://steven-daniell-jackson.github.io/portfolio', '_system', 'location=yes'); return false;">Portfolio</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 22px;"></div>
        <h4>Projects</h4>
        <div class="spacer" style="width: 283px; height: 14px;"></div>
        <ion-list>
            <ion-item href="#" onclick="window.open('http://steven-daniell-jackson.github.io/diary/#/home', '_system', 'location=yes'); return false;">Diary App - Desktop Version</ion-item>
            <ion-item href="#" onclick="window.open('http://steven-daniell-jackson.github.io/diary-ionic/', '_system', 'location=yes'); return false;">Diary App - Ionic Mobile Version</ion-item>
            <ion-item href="#" onclick="window.open('http://steven-daniell-jackson.github.io/angular-projects/#/home', '_system', 'location=yes'); return false;">Angular Projects</ion-item>
            <ion-item href="#" onclick="window.open('http://steven-daniell-jackson.github.io/resume-js/', '_system', 'location=yes'); return false;">JS version of my Resume</ion-item>
            <ion-item href="#" onclick="window.open('https://github.com/steven-daniell-jackson/csv_validator', '_system', 'location=yes'); return false;">Source - CSV Validator</ion-item>
            <ion-item href="#" onclick="window.open('https://github.com/steven-daniell-jackson/cscart_csv_validator', '_system', 'location=yes'); return false;">Source - CSV Validator(CS Cart)</ion-item>
        </ion-list>
    </ion-content>
</ion-view>