<ion-view title="References">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>References</h1>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div class="list card">
            <div class="item item-divider">Dawie Geldenhuys</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Previous I.T Manager)</ion-item>
                    <ion-item>073 549 1882</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Ashraf Slamang</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Previous Lead Developer</ion-item>
                    <ion-item>083 883 0930</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Paul Reich</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Previous Project Manager</ion-item>
                    <ion-item>083 641 4419</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Ryan Minnar</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Previous Project Manager</ion-item>
                    <ion-item>(Freelance Reference)</ion-item>
                    <ion-item>083 641 4419</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>