<ion-view title="Tools">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Tools</h1>
        <div class="list card">
            <div class="item item-divider">Git Bash</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/2wGrWqSdSsuDWJX057Hf_git.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Moderate Practical Experience</ion-item>
                    <ion-item>Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Github</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/7TPdtkdyRE2GngAiukSa_github.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Moderate Practical Experience</ion-item>
                    <ion-item>Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Sublime Text Editor</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/gO39fMCMQr2U02oSQcGD_sublime.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Moderate Practical Experience</ion-item>
                    <ion-item>Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Photoshop</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/G1JDaoNQSCGBNjG10HuH_photoshop.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Limited Practical Experience</ion-item>
                    <ion-item>Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Filezilla</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/zRzhodmSOiey92onzeeg_filezilla.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Moderate Practical Experience</ion-item>
                    <ion-item>Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Chrome</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/SKMLxyxjRMaCJOGQ2xSL_chrome.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Moderate Practical Experience</ion-item>
                    <ion-item>Months</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Windows 10</div>
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/tPSBGy1REOHsxm0sxOQn_win-10.png" width="100%" height="auto">
                </div>
                <ion-list>
                    <ion-item>Moderate Practical Experience</ion-item>
                    <ion-item>Months</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>